

	
		.footer {
			width: 100%;
			background-color: #695856;
			color: white;
			text-align: center;
		}

		body {
			font-family: Arial, Helvetica, sans-serif;
			color: black;
			background-color: #e4dcd1;

		}

		* {
			box-sizing: border-box;
		}
		.bg-img {
			background-image: url("../../coffee.jpg");
			min-height: 300px;

			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			/* Needed to position the navbar */
		/* position: relative; */
		}

		/* Position the navbar container inside the image */
		.container {
			position: absolute;
			margin: 20px;
			width: auto;
    }

		/* The navbar */
		.topnav {
			overflow: hidden;
			background-color: #333;
		} 

		/* Navbar links */
		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}

		.topnav a:hover {
			background-color: #7f5e52;
			color: #e4dcd1;
		}
	
	#map-section {
    text-align: center;
    /* padding:15px 15px 200px;  */
    font-size: 20px;
    }
